# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*.{json,jsonc,json5}]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4
